
:root {
    --bg_color: #2B2B33;
    --inp_color: #3E3E49;
    --cont_color: #1E1E26;
    --text_color: #FFFFFF;
    --text_c_obscure: #82828E;

    --check_light: #2FB6A6;
    --check_dark: #005E6C;
    --cancel_light: #DC6464;
    --cancel_dark: #7B0C2C;

}





body, html {
    color-scheme: dark;
    background-color: var(--bg_color);
    color: var(--text_color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;

    margin: 0px;
    padding: 0px;

    &:has(.group_cont) {
        @media screen and (min-width: 500px) {
            background-color: var(--cont_color);
        }
    }
}

input, button, .btn {
    font-family: inherit;
    font-size: inherit;
    border-radius: 10px;
    border: none;
    background-color: var(--inp_color);
    padding: .5rem;
}
button:hover, .btn:hover {
    filter: brightness(1.1)
}button:active, .btn:active {
    filter: brightness(1.25)
}

h1, h2, h3, h4, h5, p {
    padding: 0px;
    margin: 0px;
}





.full {
    width: 100vw;
    height: 100vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.center_vertical {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.75);
    > div {
        background-color: var(--bg_color);
        width: 80vw;
        padding: 10px;
        border-radius: 10px;
        font-size: 1rem;
    }
    > button, > .btn {
        margin-top: 10px;
        background-color: var(--cancel_light);
        color: var(--cancel_dark);
        font-weight: bold;
    }
}

#help_overlay {
    display: none;
}
.help_btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--cont_color);
    color: var(--text_c_obscure);
}





.title {
    margin-bottom: 100px;
}




.leave_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0,0,0,0);
    color: var(--text_c_obscure);
}





.big_inp {
    font-size: 3rem;
    width: 12rem;
    padding: 1rem;
}
p:has(~.big_inp) {
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 7px;
}

.big_confirm_btn {
    margin-top: 20px;

    background-color: var(--check_light);
    color: var(--check_dark);
    width: 5rem;
    height: 3rem;
}






.admin_btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0,0,0,0);
    color: var(--text_c_obscure);
}

#admin_btn:not(:checked) ~ #admin_overlay {
    display: none;
}






.group_header {
    display: flex;
    width: 100vw;

    > * {
        margin: 10px;
        color: var(--text_c_obscure);
        font-weight: bold;
    }
    > button {
        background-color: rgba(0,0,0,0);
        padding: 0px;
    }
}


.group_cont {
    width: 100vw;
    @media screen and (min-width: 500px) {
        width: 500px;
        border-radius: 10px;
        background-color: var(--bg_color);
    }
    box-sizing: border-box;
    padding: 10px;

    p {
        font-size: 1rem;
    }
}

.members_cont {
    padding-left: 20px;

    > div {
        display: flex;

        > input {
            margin-right: 10px;
            width: 1rem;
            aspect-ratio: 1;

        }
    }
}

.taskverifier_title {
    margin-top: 50px;
}

.slidecontainer { /*TODO */
    width: 100%;
}

.slider {
    --thumb_color: var(--text_c_obscure);

    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    height: 75px;
    background: var(--inp_color);
    border-radius: 80px;
    outline: none;
    transition: .25s;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: var(--thumb_color);
    cursor: pointer;
    transition: .25s;
}

.slider::-moz-range-thumb {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: var(--thumb_color);
    cursor: pointer;
    transition: .25s;
}


.comment_title {
    margin-top: 50px;
}
